body{
    background-color: aquamarine;
}
h1{
    text-align: center;
    background-color: aqua;
    color: gold;
    text-shadow:0px 1px goldenrod;
    box-shadow: 2px 0px 5px black; 
}
.card{
    float:left;
    background-color: beige;
    border: thick solid darkblue;
    margin: 2px;
    box-shadow: 2px 0px 5px black; 
}
.health{
    float:right;
    background-color: white;
    border-bottom: dashed;
    box-shadow: 2px 2px 5px black;
}
.inputBar{
    position: fixed;
    background-color: aqua;
    color: gold;
    text-shadow:0px 1px goldenrod;
    border: none;
    border-radius: 5px;
    bottom: 10px;
    left: 10px;
    font-size: 2em;
}
#userInput {
    width: 300px;          
    height: 40px;        
    font-size: 16px;                
    border: 2px solid blue; 
    border-radius: 10px;    
    box-shadow: 2px 2px 5px black;
}
.button {
    width: 100px;
    height: 40px;
    background-color: blue; 
    color: white;             
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px black;          
}
.button:hover {
    background-color: darkblue;
    color: gray;
}
.button:active{
    box-shadow: 1px 1px 2px black;  
}
.hidden {
    display: none;
}    
#score{
    position: fixed;
    bottom: 60px;
    left: 10px;
    font-size: 2em;
    background-color: rgb(255, 249, 136);
    border: outset thick gold;
    border-radius: 5px;
    padding: 5px;
    text-shadow:0px 1px goldenrod;
}